// 可供全局引用的变量

$skin-color: #EC3639;
//font color
$fc343334:#343334;
$fc2A2A2A: #2A2A2A;
$fcffffff: #ffffff;
$fcB5B5B5: #B5B5B5;
$fc9C9C9C: #9C9C9C;
$fc666666: #666666;
$fc343434: #343434;
$fc333333: #333333;
$fcEC1C2E: #EC1C2E;
$fcBCBCBC: #BCBCBC;
$fcBBBBBB: #BBBBBB;
$fcBFBFBF: #BFBFBF;
$fcEC3639: #EC3639;
//bg color
$bgFBFBFB: #FBFBFB;
$FCF8F7: #FCF8F7;

